* {
    margin:0;
    padding:0;
    overflow-x:hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI';
    background-size: cover;
}
header{
    border-style:hidden;    
    font-family:monospace;
    font-size: 150%;
    text-align: center;
    padding: 10px 200px;
    background-color: rgb(197, 214, 245);
    color: rgb(72, 180, 243);
    position: fixed;
    display: flex;
    width:100%;
    justify-content: space-between;
    margin: 0px;
    z-index: 999;
    transition: 0.7s;
}

p{
    font-family:'Segoe UI';
    text-align: center;
    color: rgb(164, 181, 255);
}
.main{
    padding: 100px 200px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    z-index: 50;
    color:rgb(220, 255, 255);
    background-color: rgba(0,0,0, 0.4);
    letter-spacing: 1px;
    margin-top: 10px;
}
.background{
    padding: 1000px 1000px;
    background-image: url("/images/bak.jpg");
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
    background-position: center;
    filter: blur(5px);
    z-index: -100;
    top: 0;
    left: 0;
    position: absolute;
}
.main h2 span{
    font-size: 45;
    color: rgb(49, 195, 221);
}
.logo{
    color: rgb(4, 130, 189);
    text-decoration:none;
}

.navigation a{
    color: rgb(4, 130, 189);
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
}
.navigation a:hover{
    color: rgb(46, 44, 44);
}
.vmw{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 207, 211);
    text-decoration:none;
    border-radius:25px;
    display: inline-block;
    letter-spacing: 2px;
    padding: 10px;
    margin-bottom:40px;
    transition: 0.5s ease;
    z-index:2200;
    margin-left: 10px;
}
.vmw:hover{
    background-color: rgb(108, 231, 253);
    color: rgb(0, 0, 0);
    transform: scale(1.14);
    border-radius: 20px;
    filter: none;
}
.next{
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    padding-top: 50px;
}
.tailer{
    background-color: rgb(6, 6, 68);
    color: rgb(255, 255, 255);
    min-height: 100vh;
    text-align: center;
    padding-top: 50px;
}