*{
    text-align:center;
}
body{
    background:url("/images/login.jpg");
    background-position: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
}
.navigation{
    margin: 0px;
    padding: 10px;
    overflow: hidden;
}
.X{
    color: rgb(0, 30, 197);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    border-radius: 10px;
}
.login{
    color: lightblue;
}
h2{
    background-color: rgba(144, 169, 238, 0.404);
}
.zabra{
    background-color: rgb(37, 101, 197);
    font-weight: bolder;
    padding: 7px;
    transition: 0.7s ease;
    text-decoration:none;
    color: white;
}
.zabra:hover, .zabra:active{
    background-color: rgb(58, 205, 231);
    border-radius: 10px;
    transform: scale(1.2);
    color: rgb(81, 0, 128);
}

.zabra:visited{
    background-color: rgb(37, 101, 197);
    font-weight: bolder;
    padding: 7px;
    transition: 0.7s;
    text-decoration:none;
    color: white;
}
div{
    margin: 200px;
    background-color: rgba(84, 232, 252, 0.342);
    border-radius: 25px;
    padding: 50px;
    transition: 1s;
    filter: blur(3px);
    display: block;
}
div:hover{
    background-color: rgba(108, 233, 250, 0.171);
    filter: none;
    transition: 0.3s;
    transform: scale(1.01);
}
input[type=email], input[type=password]{
    background-color: rgb(180, 232, 245);
    padding: 5px;
    border-radius: 10px;
    text-align:start;
    text-shadow: rgb(37, 101, 197);
}
input[type=email]:hover, input[type=password]:hover{
    background-color: rgb(148, 255, 246);
    padding: 5px;
    border-radius: 10px;
    filter:none;
    transition: 0.1s ease;
}
input[type=email]:active, input[type=password]:active{

    transform: scale(1.1)
}